*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body 
{
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    --ColorPrincipal: rgb(61, 115, 185);
    --ColorSecundario: black;
}

body {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > section {
    background-color: white;
    height: 300px;
    width: 600px;
    border-radius: 4rem;
}

article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    font-size: 1.6rem;

    align-items: center;
    justify-content: space-evenly;
    color: var(--ColorPrincipal);
}

article #buttonNewColour {
    height: 4rem;
    width: 14rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--ColorPrincipal);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

article * {
    font-weight: bold;
}

article > section {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
    align-items: center; */
    gap: 3rem;
}

#copiarButton {
    border: none;
    border-radius: 2rem;
    width: 5rem;
    height: 100%;
    background-color: var(--ColorPrincipal);
    color: white;
    cursor: pointer;
}

#copiarButton img 
{
    max-width: 30px;
}

button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.flashBG {
    animation: flash 500ms ease-out;
}

@keyframes flash {
    0% {
        background-color: #24dfc6;
    }
    
    100% {
        
        background-color: transparent;
    }
    
}

@media (max-width: 600px){
    body > section {
        max-width: 300px;
    }

    article > section {
        gap: 1rem;
        font-size: 1.4rem;
    }

    #copiarButton {
        width: 3rem;
    }

    #copiarButton img {
        max-width: 20px;
    }
    
}
